 <div id="header_wrapper" class="wrapper">
    <div id="header">
        <a href="#/home"><div id="logo">图灵.com</div></a>
        <a href="#/home"><img id="home-img" src="./images/home.gif"/></a>
        <a href="#/home"><div id="home">首页</div></a>
        <a href="./php/discover.php"><img id="discover-img" src="./images/discover.gif" /></a>
        <a href="./php/discover.php"><div id="discover">发现</div></a>
        <a href="#/signin.html"><div id="signin"><span>登录</span></div></a>
        <a href="#/signin.html"><img id="signin-img" src="./images/signin.gif" /></a>
        <a href="#/signup.html"><div id="signup"><span>注册</span></div></a>
        <a href="#/signup.html"><img id="signup-img" src="./images/signup.gif" /></a>
        <div id="search"><input type="text" placeholder="搜索"></div>
    </div>
</div>
