<div id="content" >
    <div id="title">
        <span>从心出发</span>
    </div>
    <stp-tile flip-width="200px" flip-height="200px">
        <stp-tile-front>
            <img width="200px" height="200px"  src="./storage/pictures/pic1.jpg"/>
        </stp-tile-front>
        <stp-tile-back>
            <img width="200px" height="200px"  src="./storage/pictures/pic2.jpg"/>
        </stp-tile-back>
    </stp-tile>
    <stp-tile flip-width="200px" flip-height="200px">
        <stp-tile-front>
            <img width="200px" height="200px"  src="./storage/pictures/pic3.jpg"/>
        </stp-tile-front>
        <stp-tile-back>
            <img width="200px" height="200px"  src="./storage/pictures/pic4.jpg"/>
        </stp-tile-back>
    </stp-tile>
</div>