<div id="content" >
    <div id="title">
        <span>从心出发</span>
    </div>
    <stp-tile flip-width="200px" flip-height="200px">
        <flip-panel>
            <img width="200px" height="200px"  src="./storage/pictures/pic1.jpg"/>
        </flip-panel>
        <flip-panel>
            <img width="200px" height="200px"  src="./storage/pictures/pic2.jpg"/>
        </flip-panel>
    </stp-tile>
    <stp-tile flip-width="200px" flip-height="200px">
        <flip-panel>
            <img width="200px" height="200px" src="./storage/pictures/pic3.jpg"/>
        </flip-panel>
        <flip-panel>
            <img width="200px" height="200px"  src="./storage/pictures/pic4.jpg"/>
        </flip-panel>
    </stp-tile>
</div>